<!-- component -->
<div class="h-screen flex">
    <div class="hidden lg:flex w-full lg:w-1/2 login_img_section
            justify-around items-center">
        <div class="bg-black 
                    opacity-20 
                    inset-0 
                    z-0">

        </div>
        <div class="w-full mx-auto px-20 flex-col items-center space-y-6">
            <h1 class="text-white font-bold text-4xl font-sans">AppointEase</h1>
            <p class="text-white mt-1">Modern <strong>open-source</strong> meeting scheduling platform that
                makes “finding
                time” a breeze. When connecting is easy, your teams can get more done.</p>
            <div class="flex justify-center lg:justify-start mt-6">
                <a href="#"
                    class="hover:bg-indigo-700 hover:text-yellow-500 hover:-translate-y-1 transition-all duration-500 bg-white text-indigo-800 mt-4 px-4 py-2 rounded-2xl font-bold mb-2">Read
                    more</a>
            </div>
        </div>
    </div>
    <div class="flex w-full lg:w-1/2 justify-center items-center bg-white space-y-8">
        <div class="w-full px-8 md:px-32 lg:px-24 flex justify-center">
            <div class="bg-white rounded-md shadow-2xl p-5 wrap-root">
                <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello Again!</h1>
                <p class="text-sm font-normal text-gray-600 mb-8">Welcome Back</p>

                <div class="btn-wrap flex">
                    <button type="button"
                        class="google flex justify-center align-top w-100 bg-indigo-600 mt-3 px-3 py-1 rounded-full hover:bg-indigo-700 hover:-translate-y-1 transition-all duration-500 text-white font-semibold mb-2">
                        <svg class="m-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
                            <path
                                d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
                        </svg>
                        <span class="">Signin with Google</span>
                    </button>

                </div>
                <div class="flex justify-between mt-4">
                    <a class="text-sm ml-2 hover:text-blue-500 cursor-pointer hover:-translate-y-1 duration-500 transition-all"
                        routerLink="/register">Don't
                        have an account yet?</a>
                </div>

            </div>
        </div>

    </div>
</div>